<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OverwatchCounters.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>600B58721F1DE27C0036AD76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601B355B1F1C8BD800BAE388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60AA74811EFA6748003A04C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
